<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Creators Email</th>
        <th scope="col">Created</th>
        <th scope="col">Locality</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.eventName }}</td>
        <td>{{  event.user.email }}</td>
        <td>{{  event.created }}</td>
        <td>{{  event.locality }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let event of events" class="col-md-6 my-5">
      <div class="card" style="width: 25rem; align-self: center;">
        <img
          alt="..."
          class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB0ZAr6PlWyQxm-t087Y_qaLXCBrW1h7iXlNyvcW6r3lhJCdMq&s">
        <div class="card-body">
          <h5 class="card-title">{{event.eventName}}</h5>
          <div class="card-text">
            <ul>
              <li>Helyszín: {{event.locality}}</li>
              <li>Kreátor: {{event.user.email}}</li>
              <li>Dátum: {{event.created}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

